<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Preferences</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/selection-page.css" type="text/css">

</head>

<body id="page-top" background="images/header.jpg">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>What sectors are you interested in?</h1>
                <hr>
                <p>
                  <!--Checkboxes here-->
                  <label >Select the sectors that you're interested in
                    <br><span class="sub">We’ll use these selections to tailor your opportunities feed to you</span>
                  </label>
                </p>
                <form class="form" action="item" method="get" id="form" autocomplete="off">
                  <ul class="checkbox-grid">
                    <li><input type="checkbox" name="ap[]" value="banking-finance" /><label for="text1">Banking &#38; Finance</label></li>
                    <li><input type="checkbox" name="ap[]" value="charity-public-sector" /><label for="text2">Charity &#38; Public Sector</label></li>
                    <li><input type="checkbox" name="ap[]" value="consulting" /><label for="text3">Consulting</label></li>
                    <li><input type="checkbox" name="ap[]" value="consumer-retail" /><label for="text4">Consumer &#38; Retail</label></li>
                    <li><input type="checkbox" name="ap[]" value="entrepreneurship" /><label for="text5">Entrepreneurship</label></li>
                    <li><input type="checkbox" name="ap[]" value="law" /><label for="text6">Law</label></li>
                    <li><input type="checkbox" name="ap[]" value="technology" /><label for="text7">Technology</label></li>
                    <li><input type="checkbox" name="ap[]" value="professional-services" /><label for="text8">Professional Services</label></li>
                    <li><input type="checkbox" name="ap[]" value="marketing-media" /><label for="text9">Marketing &#38; Media</label></li>
                  </ul>
                  <br></br>
                  <input class="submitButton" type="submit" name="Submit button" value="Submit">
                </form>
            </div>
        </div>
    </header>

    <form class="form" action="/item" method="get" id="hiddenform" autocomplete="off">
      <input type="hidden" name="skills" id="skills" value="">
    </form>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <script type="text/javascript">
    $('#form').submit(function (evt) {
      evt.preventDefault();
      console.log('hi');

      var list = $(':checkbox[name="ap[]"]:checked').map(function(){
        return $(this).val();
      }).get().join('-');

      $('input#skills').val(list);
      $('form#hiddenform').submit();

    });
    </script>

</body>

</html>