@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Open Sans', sans-serif;
}

footer {
    margin: 50px 0;
    float: right;
}

#search {
    float: left;
    padding: 8px;
    margin-bottom: 15px;
}

#search input {
    font-size: 0.9em;
    height: 35px;
    width: 400px;
    padding: 0 0 0 8px;
    background-image: url(images/magnifying_glass.png);
    background-repeat: no-repeat; /* prevents image to display multiple times */
    background-size: 30px;
    background-position: right center; /* alligns it to the right and centers it */
}

.page-header {
    float: right;
    margin: 0px;
    padding: 8px;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #000 !important;
    color: #FFF !important;
}

.filter {
    float: right;
    width: 300px;
}

#opportunities {
    border-right: 1px solid black;
}

.navbar-header {
    float: right;
}

input.form-control {
    display: inline-block;
}

button.btn.btn-secondary {
    background-color: #6FB6FF;
}

a.btn.btn-primary {
    background: #6FB6FF;
    border: 0;
}

p.hashtag {
    background: black;
    color: #FFF;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
}
